.main{
    /* Layout Properties */
top: 122px;
left: 18px;
width: 367px;
height: 1043px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;

margin-top: 32px;
margin-left: 18px;


}
.overflow{
    overflow-y: scroll;
    height: 930px;
}

.flex{
    display: flex;
}

.marginLeft{
    margin-left: 20px;
    display: flex;
}

.spaceBet{
    justify-content: space-between;
}

.patientContainer{
    background-color: white;
}

.patientContainer:hover{
    background-color: #D8FCF7;
}

.diagnosisContainer{
    /* Layout Properties */
top: 122px;
left: 417px;
width: 766px;
height: 673px;

background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 16px;
opacity: 1;

margin-top: 30px;
margin-left: 32px;
}

.diagnosisHeader{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-072635);
text-align: left;
font: normal normal 800 24px/33px Manrope;
letter-spacing: 0px;
color: #072635;
opacity: 1;
}

.padding{
    padding: 20px;
}

.bloodPressureContainer{
    border-radius: 12px;
    background-color: #F4F0FE;
    display: flex;
    padding: 16px;
    margin-top: 40px;
}

.containerPadding{
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
}

.patientsHeader{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-align: left;
    font: normal normal 800 24px/33px Manrope;
    letter-spacing: 0px;
    color: #072635;
    opacity: 1;

    margin-bottom: 20px;
}

.innerContainer{
margin-top: 20px;
margin-left: 20px;
}

.profileIcon{
    top: 215px;
    left: 38px;
    width: 48px;
    height: 48px;
    opacity: 1;
    margin-left: 20px;
}

.patientContainer{
    display: flex;
}

.bigDiv{
    top: 439px;
    left: 18px;
    width: 353px;
    height: 80px;

    display: flex;
    align-items: center;
}

.patientName{
    margin: 0px;
    margin-left: 12px;
    font: normal normal bold 14px/19px Manrope;
    margin-top:3px
}

.patientGenderAge{
    margin:0px;
    margin-left: 12px;
    font: normal normal normal 14px/19px Manrope;
    margin-bottom: 3px;
}

.graphContainer{
    width: 450px;
}

:root {

    /* Colors: */
    --unnamed-color-705aaa: #705AAA;
    --unnamed-color-cbc8d4: #CBC8D4;
    --activestate_bg_2: #D8FCF7;
    --activestate_bg_1: #01F0D0;
    --unnamed-color-0bd984: #0BD984;
    --unnamed-color-072635: #072635;
    --unnamed-color-0c3d5d: #0C3D5D;
    --unnamed-color-084c77: #084C77;
    --unnamed-color-055a92: #055A92;
    --unnamed-color-006aac: #006AAC;
    --unnamed-color-007bc7: #007BC7;
    --unnamed-color-707070: #707070;
    --unnamed-color-f6f6f6: #F6F6F6;
    --unnamed-color-ededed: #EDEDED;
    --unnamed-color-000000: #000000;
    --unnamed-color-878787: #878787;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-ff6200: #FF6200;
    
    /* Font/text values */
    --unnamed-font-family-manrope: Manrope;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-800: 800px;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-24: 24px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-19: 19px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-33: 33px;
    --unnamed-text-transform-titlecase: titlecase;
    }
    
    /* Character Styles */
    .card-title-24pt {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-800);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    }
    .inner-card-title-18pt {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    text-transform: var(--unnamed-text-transform-titlecase);
    }
    .body-emphasized-14pt {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    }
    .body-secondary-info-14pt {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    }
    .body-regular-14 {
    font-family: var(--unnamed-font-family-manrope);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-072635);
    }

    .diagnosticMainContainer{
        top: 827px;
        left: 417px;
        width: 766px;
        height: 349px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 16px;
        opacity: 1;

        margin-top: 62px;
    }

    .diagnostic-header{
        
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal 800 24px/33px Manrope;
        letter-spacing: 0px;
        color: #072635;
        opacity: 1;

       padding-top: 20px;
       padding-left:20px;
    }
    .diagnosticBox{      
        padding-top: 15px;
        padding-bottom: 14px;

        border-radius: 24px;

        background-color: #F6F7F8;
        opacity: 1;
        
        display: flex;

        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal bold 14px/19px Manrope;
        letter-spacing: 0px;
        color: #072635;
        opacity: 1;

        padding-left: 16px;

    }

    .rowOne{
        position: absolute;
        left: 586px;
        
    }

    .rowTwo{
        position: absolute;
        left: 920px;
        overflow-wrap:break-word;
        overflow-x: 20px;
        overflow: hidden;
    }
    
    .rowThree{
        position: absolute;
        left: 1220px;
    }

    .listContainer{
        display: flex;
        flex: 8;
        
        
    }
    .listContainerMain{
        height: 200px;
        overflow-y: scroll;
    }

    .listTopContainer{
        display: flex;
        flex: 8;
        background: #F6F7F8 0% 0% no-repeat padding-box;
        border-radius: 24px;
        opacity: 1;

        padding-left: 20px;
        margin-left: 20px;
        align-items: center;
        margin-right: 20px;

        height: 50px;
        margin-bottom: 20px;

    }
    .diagnostic-Container{
        margin-top: 20px;
        

    }

    .problemRow{    
        flex: 1.5;
        margin-left: 40px;
    }
    .problemRowTop{
        flex: 1.5;
    }

    .descriptionRow{
        flex: 3;
        height: 50px;
    }

    .descriptionRowTop{
        flex:3;
    }
    

    .statusRow{
        flex: 2;
    }

    .labResultsHeader{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-800) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-33) var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal 800 24px/33px Manrope;
        letter-spacing: 0px;
        color: #072635;
        opacity: 1;

        margin-bottom: 16px;
    }

    .labResults-Container{
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 16px;
        opacity: 1;

        margin-left: 32px;
        margin-top: 32px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        height: 260px;
    }

    .labResult-Item{
        height: 40px;
        margin-left: 16px;

        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/18px var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal normal 13px/18px Manrope;
        letter-spacing: 0px;
        color: #072635;
        text-transform: capitalize;
        opacity: 1;

        align-items: center;


        text-align: left;
        

    }

    .labResult-Item:hover{
        background-color: #F6F7F8;
    }

    .labResults-Items{
        height: 200px;
        overflow-y: scroll;
    }

    .systolicDiv{
        width: 14px;
        height: 14px;
        /* UI Properties */
        border: 1px solid var(--unnamed-color-ffffff);
        background: #E66FD2 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;
        opacity: 1;

        border-radius: 10px;
        
    }

    .systolicHeader{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal bold 14px/19px Manrope;
        letter-spacing: 0px;
        color: #072635;
        text-transform: capitalize;
        opacity: 1;
        
        display: flex;

        margin-left: 4px;
        
    }

    .sysMain{
        display: flex;;
    }

    .systolicValue{
        width: 38px;
        height: 30px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal bold 22px/30px Manrope;
        letter-spacing: 0px;
        color: #072635;
        text-transform: capitalize;
        opacity: 1;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .diastolicDiv{
        width: 14px;
        height: 14px;
        /* UI Properties */
        border: 1px solid var(--unnamed-color-ffffff);
        background: #8C6FE6 0% 0% no-repeat padding-box;
        border: 1px solid #FFFFFF;
        opacity: 1;

        border-radius: 10px;
        
    }

    .levelsText{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-072635);
        text-align: left;
        font: normal normal normal 14px/19px Manrope;
        letter-spacing: 0px;
        color: #072635;
        opacity: 1;
    }
    
    .margintop{
        margin-top: 33px;
    }